/* Weapon.css */
.weapon-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .rectangle {
    width: 300px;
    background-color: rgba(42, 63, 104, 1);
    margin: 30px; /* เพิ่มระยะห่างระหว่างช่องสี่เหลี่ยม */
    border-radius: 10px;
  }
  
  
  /* Weapon.css */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 60px;
    
  }
  
  .frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; /* ทำให้กรอบเต็มหน้าจอ */
    border: 1px solid #ccc;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 0; /* ไม่มีขอบ */
    
  }

  
  .frame p {
    font-size: 24px;
    font-weight: bold;
  }
  
  .weaponName {
    background-color: rgba(35, 54, 91, 0.5);
    border-radius: 10px;
    padding: 10px;
  }

  .weaponName span {
    color: white; /* เปลี่ยนสีของข้อความเป็นสีขาว */
  }
  
  